body{background-color: black;}

.scroll-element{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease, transform 1.3s ease;
    margin: 50px 0; /* Para darle espacio entre los elementos */
}

.scroll-element.visible {
    opacity: 1;
    transform: translateY(0);
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    padding: 4.5rem;
    letter-spacing: 1px;
}

h3{   
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 5rem;
}

.imagen-personal{
    width: 70%;
    margin: 20px 0px;
    border-radius: 49px 49px 49px 49px;
    -moz-border-radius: 49px 49px 49px 49px;
    -webkit-border-radius: 49px 49px 49px 49px;
    border: 1px solid white;
    -webkit-box-shadow: 0px -2px 23px -3px rgba(255,255,255,1);
    -moz-box-shadow: 0px -2px 23px -3px rgba(255,255,255,1);
    box-shadow: 0px -2px 23px -3px rgba(255,255,255,1);
}

.p-aboutme{
    color: white;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0.5rem 1rem;
    padding: 1rem;
    text-align: justify;
}

.oculto{
    display: none;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.btnAbout{
    margin: 10px 0px;
    color: white;
    background-color: #ea0f1e;
    padding: 0.7rem;
    border: 1px black solid;
}

.btnAbout:hover{
    cursor: pointer;
    transform: scale(1.10);
    transition: font-size 0.2s;
}

.enlace{
    text-decoration: none;
    color: #ea0f1e;
}

.enlace:hover{
    cursor: pointer;
    transform: scale(1.10);
    transition: font-size 0.2s;
}

@media (min-width:600px) {

    h2{
        text-align: center;
        font-size: 5rem;
        padding: 9.3rem;
    }

    .imagen-personal{
        width: 40%;
        border-radius: 60%;
        padding: 2rem;
    }

    .aboutme{
        display: flex;
        flex-direction: row;

        .p-aboutme{
            width: 50%;
        }

        .imagen-personal{
            width: 40%;
        }
    }

    .p-aboutmeContenedor{
        color: white;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin: 1rem;
        padding: 1rem;
        text-align: justify;
    }
    
}
