.link-web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    width: 90%;
}

.imagen-link{
    width: 100%;
    border-radius: .4rem;
}

.link-web a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
}
.p-projects{
  color: white; 
  font-size: 1.2rem;
}

.lenguajes{
  width: 80%;
  background-color: #ea0f1e;
  padding: 1rem;;
}

.iconosProjects{
  margin: 1rem;
}

  @media (min-width:811px) {

    .grid{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }

    .imagen-link{
      height: 200px;
    }
  }

