.flex{
    display: flex;
    flex-direction:row;
    margin: 1rem;
}

.imagen-code{
width: 100%;
}

.contenedorCard{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
  margin: 0 1rem;
  gap: 2rem;
}

.cardCert{
  background-color: #fffffff5;
  
  background-clip: border-box;
  border-radius: x;
  border: 1px solid #666;
  border-radius: 4px 4px 4px 4px;
  margin: 0 2rem;

  -webkit-box-shadow: 4px 3px 11px -1px rgba(255,255,255,1);
  -moz-box-shadow: 4px 3px 11px -1px rgba(255,255,255,1);
  box-shadow: 4px 3px 11px -1px rgba(255,255,255,1);
  text-align: center;
}

.titleCard{
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.5rem;
}

.pcard{
  color: black;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.iconosCert{
  display: flex;
  justify-content: center;
  gap: 2rem;

}

.iconoCert{
  scale: 1.8;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  border: #66666659 solid 1px;

  -webkit-box-shadow: -1px -1px 15px 0px rgba(15,15,15,0.5);
  -moz-box-shadow: -1px -1px 15px 0px rgba(15,15,15,0.5);
  box-shadow: -1px -1px 15px 0px rgba(15,15,15,0.5);
}

.carousel {
  position: relative;
  width: 90%;
  overflow: hidden;

  display: block;
  margin: 0 2rem; /* Centra horizontalmente el carrusel */
}

.carousel-inner {
  display: flex;
  margin: 1.4rem;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.iconoCert:hover{
  scale: 2.2;
  transition: 1s ease;
}

.iconoPinchame{
  scale: 2.4;
  margin: 1rem;
}

.divPortofolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
  @media (min-width:600px) {

    .flex{
      margin: 2rem;
      padding: 2rem;
  }

  .contenedorCard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    margin: 0 1.4rem 0 1.4rem;
  }

  .cardCert{
    margin: 2rem 1rem 2rem 1rem;
    padding: 1rem;

  }
  
  .flexrow{
    display: flex;
    flex-direction: column;
  }

  .imagen-code{
    width: 70%;
    margin: 1rem;
  }

  .carousel-item{
    padding: 1rem;
  }
  
}
