.p-contact{
    color: white;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    width: 80%;
}

.h2Contact{
    color:#ea0f1e;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 2rem;
    padding: 1rem;
}

.contact-form {
    width: 80%;
    margin: 0 auto;
    padding: 1em;

    border-radius: 5px;
}
.contact-form label {
    margin-bottom: 0.5em;
    color: white;
}
.contact-form input, .contact-form textarea {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}
.contact-form button {
    padding: 0.7em;
    color: #fff;
    background-color: #ea0f1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media (min-width:600px) {

    .p-contact{
        text-align: center;
    }

    .contenedorContact{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
